---
import Layout from "../layouts/Layout.astro";
import { actions } from "../data/homepage.json";
import EarlyAccessButton from "../components/home/EarlyAccessButton.astro";
---

<Layout pagetitle="Contact">
  <section class="prose prose-slate mb-14">
    <h1>Contact</h1>
    <p>Johannes Philipp Ritter TestLens GbR</p>
    <p>
      <a href="mailto:support@testlens.app">support@testlens.app</a>
    </p>
  </section>
  <section class="mb-14 text-center">
    <EarlyAccessButton />
    <p class="text-muted mt-4">
      {actions.join}
    </p>
  </section>
</Layout>
