---
import Layout from "../layouts/Layout.astro";
import { actions } from "../data/homepage.json";
import EarlyAccessButton from "../components/home/EarlyAccessButton.astro";
---

<Layout pagetitle="Contact">
  <section class="mb-14">
    <div class="text-dark mb-3 text-xl font-semibold">
      Johannes Philipp Ritter TestLens GbR
    </div>
    <div class="text-dark mb-3">
      <a href="mailto:support@testlens.app">support@testlens.app</a>
    </div>
  </section>
  <section class="mb-14 text-center">
    <EarlyAccessButton />
    <p class="text-muted mt-4">
      {actions.join}
    </p>
  </section>
</Layout>
