---
import Layout from "../layouts/Layout.astro";
---

<Layout pagetitle="Contact">
  <section class="prose prose-slate mb-14">
    <h1>Contact and Support</h1>
    <p>
      Please get in touch via email to receive support, in particular for
      questions about installation, onboarding, and subscription plans.
    </p>
    <p>
      <a href="mailto:support@testlens.app">support@testlens.app</a>
    </p>
  </section>
</Layout>
