---
import Layout from "../layouts/Layout.astro";
import { Content } from "../content/terms.md";
---

<Layout pagetitle="Terms & Conditions">
  <section class="bg-background">
    <div class="prose max-w-none">
      <Content />
    </div>
  </section>
</Layout>
