---
import EarlyAccessButton from "./EarlyAccessButton.astro";
import { Image } from "astro:assets";
const { title, description } = Astro.props;
---

<section
  class="relative mb-12 rounded-xl bg-green-300 pt-6 pr-8 pb-4 pl-8 text-green-900 sm:mb-16 sm:pt-6 sm:pr-4"
>
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="mb-4 flex-7/12 sm:mt-6 sm:mb-6">
      <h2
        class="mb-4 text-2xl font-bold sm:mb-8 sm:text-4xl"
        style="font-variation-settings: 'slnt' -5, 'ROND' 50;"
      >
        {title}
      </h2>
      <p class="mb-4 text-lg sm:mb-8 sm:text-xl">{description}</p>
      <EarlyAccessButton />
    </div>
    <div class="hidden sm:block sm:flex-5/12">
      <Image
        src={import("../../assets/hero.png")}
        alt="TestLens Bot in Action"
      />
    </div>
  </div>
</section>
