---
import InstallButton from "./InstallButton.astro";
const { text } = Astro.props;
---

<section class="mt-10 text-center">
  <InstallButton />
  <p class="text-muted mt-4 mb-6">
    {text}
  </p>
</section>
