---
import { Icon } from "astro-icon/components";
const { href, title, color } = Astro.props;
---

<a href={href} title={title} target="_blank">
  <Icon
    name={title.toLowerCase()}
    class=`h-6 w-6 text-gray-600 hover:text-${color}-800`
  />
</a>
