---
import Layout from "../../../../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getBlogParams } from "../../../../../utils/params";

export const getStaticPaths = async () => {
  const blogs = await getCollection("blog");
  const paths = blogs.map(blog => {
    return {
      params: getBlogParams(blog),
      props: {
        blog,
      },
    };
  });

  return paths;
};

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props;
const { Content } = await render(blog);
const blogParams = getBlogParams(blog);
---

<Layout
  pagetitle={blog.data.title}
  description={blog.data.description}
  image={blogParams.image}
  type="article"
>
  <section class="bg-background">
    <div class="container mx-auto justify-center px-6 py-8 lg:flex">
      <div id="markdown" class="prose prose-lg relative mb-5 overflow-visible">
        <h1>{blog.data.title}</h1>
        <time
          datetime={new Date(blog.data.pubDate).toLocaleDateString()}
          class="text-sm"
        >
          {
            new Date(blog.data.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
        <Content />
      </div>
    </div>
  </section>
</Layout>
